body {
  width: 23rem;
}

.container {
  padding: 5px;
}

.section {
  margin: 5px 0 5px 0;
  border-bottom: 1px solid #ececec;
}

.text {
  display: flex;
  flex-direction: row;
}

.number {
  margin-right: 4px;
}

.footer {
  font-weight: 400;
  text-align: center;
  border: none;
}

.title {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.row {
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border: 0.5px solid gray;
}

p {
  font-size: 10px;
  font-weight: 600;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 4px;
  width: min-content;
  min-width: 97px;
  text-align: center;
}
